@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: MFYueYuan;
		src: url(./assets/fonts/MFYueYuan.ttf);
	}
}

@layer components {
	.p-container {
		@apply px-4 py-4 md:px-12 lg:px-20 md:py-8;
	}

	.video-container {
		@apply grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 md:gap-x-6 md:gap-y-8;
	}

	.audio-container {
		@apply space-y-4 sm:space-y-0 sm:grid sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6 sm:gap-x-12 sm:gap-y-8;
	}

	.banner {
		@apply object-cover w-full h-vw-15;
	}

	.hide-scrollbar {
		overflow: scroll;
		pointer-events: none;

		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari and Opera */
	}
}
