@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: MFYueYuan;
		src: url(./assets/fonts/MFYueYuan.ttf);
	}
}

@layer components {
	.p-container {
		@apply px-4 py-4 md:px-12 lg:px-20 md:py-8;
	}

	.banner {
		@apply object-cover w-full h-vw-15;
	}
}

@layer utilities {
	.lyric {
		font-size: 20px;
		padding: 10px 0px;
	}

	.lyric-list {
		height: 550px;
		overflow: scroll;
		pointer-events: none;

		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.lyric-list::-webkit-scrollbar {
		display: none; /* Chrome, Safari and Opera */
	}
}
